.footer-box {
    padding-right: 50px;
    padding-left: 50px;
    box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
    .double-col {
        flex-direction: row!important;
        display: flex!important;
    }

    .main-flex  {
        flex-direction: column!important;
        padding: 4% 0 4% 0;
    }

    .footer-box.teaching {
        margin-top: 40px;
    }
    .css-ie14hb {
        align-self: flex-start;
    }
    .css-7h76sl {
        background: #035C5D;
        padding: 2% 0 2% 0;
        color: #FFFFFF;
        box-sizing: border-box;
        padding-top: 4%;
        padding-bottom: 4%;
        width: 101%;
        overflow: hidden;
    }
} 