ul._3tZKZ.carousel {
    width: 70%!important;
    margin-left: 50px;
    margin-right: 50px;
    text-align: -webkit-center;
}

._1Lxpd {
    place-content: center!important;
}

._xsi02 {
    display: flex!important;
    align-items: center;
    justify-content: center;
}

.container-carousel {
    margin-top: 149px!important;
}

@media only screen and (max-width: 987px) {
    .container-carousel {
        margin-top: 349px!important;
    }
}

@media only screen and (max-width: 421px) {
    .container-carousel {
        margin-top: 189px!important;
    }

    .chakra-icon {
        width: 10px!important;
    }
}