.select-language__indicator.select-language__dropdown-indicator.css-tlfecz-indicatorContainer {
    padding: 0!important;
}

.select-language__indicator-separator.css-1okebmr-indicatorSeparator {
    display: none!important;
}

.select-language__control.css-yk16xz-control {
    width: 54px!important;
}

.select-language.css-2b097c-container {
    width: 54px!important;
}

.select-language__control.css-yk16xz-control {
    border-radius: 19px!important;
}

.select-language__menu-list.css-4ljt47-MenuList {
    overflow: hidden!important;
}

.select-language__value-container.css-g1d714-ValueContainer {
    position: static!important;
}

.select-language__indicator.select-language__dropdown-indicator.css-1gtu0rj-indicatorContainer {
    padding: 3px!important;
}